<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudAFront</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="parallax">
    <header>
        <div id="navbar">
            <div class="logo-front">
                <div class="logo-container">
                    <svg id="logo"
                         width="100"
                         height="36"
                         viewBox="0 0 467 110"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">

                        <path id="path-c" d="M76.1406 10.4766L68.6172 25.5938C64.5391 21.5156 57.9766 19.4766 48.9297 19.4766C40.3516 19.4766 33.3203 23.0859 27.8359 30.3047C22.3516 37.4766 19.6094 46.5703 19.6094 57.5859C19.6094 68.6016 22.1406 77.3438 27.2031 83.8125C32.3125 90.2812 39.1094 93.5156 47.5938 93.5156C57.2969 93.5156 64.8906 90.0469 70.375 83.1094L78.8828 97.875C71.4297 105.797 60.5078 109.758 46.1172 109.758C31.7266 109.758 20.5469 105.023 12.5781 95.5547C4.60938 86.0859 0.625 73.1719 0.625 56.8125C0.625 41.5781 5.03125 28.8516 13.8438 18.6328C22.7031 8.36719 34.0234 3.23438 47.8047 3.23438C59.6172 3.23438 69.0625 5.64844 76.1406 10.4766Z" stroke="#66AD2F" stroke-width="5" />
                        <path id="path-l" d="M95.6875 4.64062L113.266 0.421875V85.0781C113.266 94.3594 116.031 99.8906 121.562 101.672C118.844 106.828 114.203 109.406 107.641 109.406C99.6719 109.406 95.6875 103.875 95.6875 92.8125V4.64062Z" stroke="#66AD2F" stroke-width="5" />
                        <path id="path-o" d="M130.211 70.1719C130.211 58.6875 133.516 49.3359 140.125 42.1172C146.781 34.8984 155.547 31.2891 166.422 31.2891C177.859 31.2891 186.742 34.7578 193.07 41.6953C199.398 48.6328 202.562 58.125 202.562 70.1719C202.562 82.1719 199.328 91.7109 192.859 98.7891C186.438 105.867 177.625 109.406 166.422 109.406C154.984 109.406 146.078 105.844 139.703 98.7188C133.375 91.5469 130.211 82.0312 130.211 70.1719ZM148.492 70.1719C148.492 86.7656 154.469 95.0625 166.422 95.0625C171.906 95.0625 176.242 92.9062 179.43 88.5938C182.664 84.2812 184.281 78.1406 184.281 70.1719C184.281 53.8125 178.328 45.6328 166.422 45.6328C160.938 45.6328 156.578 47.7891 153.344 52.1016C150.109 56.4141 148.492 62.4375 148.492 70.1719Z" stroke="#66AD2F" stroke-width="5" />
                        <path id="path-u" d="M265.211 108.07V101.742C262.727 103.852 259.305 105.656 254.945 107.156C250.586 108.656 246.578 109.406 242.922 109.406C225.438 109.406 216.695 100.125 216.695 81.5625V32.6953H234.273V80.2266C234.273 89.8828 238.609 94.7109 247.281 94.7109C251.266 94.7109 254.969 93.6797 258.391 91.6172C261.812 89.5547 264.086 87.1641 265.211 84.4453V32.6953H282.789V108.07H265.211Z" stroke="#66AD2F" stroke-width="5" />
                        <path id="path-d" d="M350.219 108V103.43C348.766 105.023 346.305 106.43 342.836 107.648C339.367 108.82 335.781 109.406 332.078 109.406C321.578 109.406 313.305 106.078 307.258 99.4219C301.258 92.7656 298.258 83.4844 298.258 71.5781C298.258 59.6719 301.703 49.9922 308.594 42.5391C315.531 35.0391 324.203 31.2891 334.609 31.2891C340.328 31.2891 345.531 32.4609 350.219 34.8047V4.64062L367.797 0.421875V108H350.219ZM350.219 50.6953C346.469 47.6953 342.555 46.1953 338.477 46.1953C331.445 46.1953 326.031 48.3516 322.234 52.6641C318.438 56.9297 316.539 63.0703 316.539 71.0859C316.539 86.7422 324.086 94.5703 339.18 94.5703C340.867 94.5703 342.93 94.0781 345.367 93.0938C347.852 92.0625 349.469 91.0312 350.219 90V50.6953Z" stroke="#66AD2F" stroke-width="5" />
                        <path id="path-a" d="M446.617 108L439.094 87.1172H403.797L396.625 108H376.305L417.367 3.58594H425.383L466.797 108H446.617ZM421.375 35.0859L409 73.125H433.75L421.375 35.0859Z" stroke="#E96AA2" stroke-width="5" />
                    </svg>

                    <div class="trade-mark">
                        <p><span style="color:#66AD2F; ">T</span><span style="color:#E96AA2; ">M</span></p>
                    </div>
                    <div class="typewriter">
                        <p><span style="color: white;">UCZELNIA W CHMURZE</span></p>
                    </div>
                </div>

            </div>

            

            
            <div id="navbar-right">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
        </div>
    </header>

    <div class="container container-home" id="glass" >

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CloudAFront - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script>
        const glass = document.getElementById('glass');

        const tl = gsap.timeline({ defaults: { ease: "power2.inOut", duration: 1.5 } })

        tl.from('img', { x: '-100%', opacity: 0 })
            .from('.container', { opacity: 0, delay: .5, duration: 1 }, "-=1.5")
            .from('.container', { x: '-100%', backdropFilter: 'blur(0px)' })
            .from('.seq', { y: -30, opacity: 0, stagger: .2, duration: .5 }, "-=.5")
            .from('h1', { y: 20, clipPath: 'inset(0 0 100% 0)' }, "-=.8")
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
