@{
    ViewData["Title"] = "Home Page";
}
<div class="card mt-3 mb-3 shadow col-12" style="background-color: #FFC107">
    <h3 style="color: #3F51B5">
        Wybierz wydarzenie
    </h3>
</div>


@await Html.PartialAsync("Events", (IEnumerable<CloudA.Data.Event>)ViewBag.ModelEvents)

