@{
    ViewData["Title"] = "Home Page";
}
<div class="card-front mt-3 mb-3 shadow col-12 " >
    <h3 style="color: #3F51B5">
        <strong>Wybierz wydarzenie</strong>
    </h3>
</div>


@await Html.PartialAsync("Events", (IEnumerable<CloudA.Data.Event>)ViewBag.ModelEvents)

