@{
    ViewData["Title"] = "Home Page";
}
<div class="card-front-main mt-3 mb-3 col-12 " >
    <div class="back-front-main m-2">
        <h3>
            <strong>Wybierz wydarzenie</strong>
        </h3>
    </div>

</div>


@await Html.PartialAsync("Events", (IEnumerable<CloudA.Data.Event>)ViewBag.ModelEvents)

