@model CloudA.Data.Event

@{
    ViewData["Title"] = "Delete";
}

<div class="alert  alert-warning">    
    <h3>Czy usunąć wydarzenie  @Html.DisplayFor(model => model.TitlePL) ? </h3>
    <p class="mb-0">Usunięcie wydarzenia jest procesem nieodwracalnym</p>
</div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEvent" />
        <input type="submit" value="Usuń" class="btn btn-warning btn-lg float-right  " />
        <a class="btn btn-secondary btn-lg float-right mr-2 " asp-controller="Home" asp-action="Index">Anuluj</a>
    </form>

