<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudAAdmin</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CloudAAdmin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Wydarzenia</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav">
        <a asp-area="" asp-controller="Home" asp-action="Index" id="about"><span>Home <i class="fa fa-home"></i></span></a>
        <a asp-area="" asp-controller="Event" asp-action="Index" id="blog"><span>Edytuj <i class="fa fa-edit"></i></span></a>
        <a asp-area="" asp-controller="Home" asp-action="Index" id="projects"><span>Home <i class="fa fa-home"></i></span></a>
        <a asp-area="" asp-controller="Home" asp-action="Index" id="contact"><span>Home <i class="fa fa-home"></i></span></a>
    </div>
    <div class="sidenav-own">
        <button class="button-sidenav"><span><i class="fa fa-home"></i> Home </span></button>
        <button class="button-sidenav"><span><i class="fa fa-edit"></i> Wydarzenia </span></button>
        <button class="button-sidenav"><span><i class="fa fa-home"></i> Uczestnicy </span></button>
        <button class="button-sidenav"><span><i class="fa fa-edit"></i> Opcje </span></button>
        <button class="button-sidenav"><span><i class="fa fa-home"></i> Zobacz </span></button>
        <button class="button-sidenav"><span><i class="fa fa-edit"></i> Wiadomości </span></button>
        <button class="button-sidenav"><span><i class="fa fa-edit"></i> Zobacz </span></button>
        <button class="button-sidenav"><span><i class="fa fa-home"></i> Opcje </span></button>
        <button class="button-sidenav"><span><i class="fa fa-edit"></i> Zobacz </span></button>
        <button class="button-sidenav"><span><i class="fa fa-home"></i> Wiadomości </span></button>
        <button class="button-sidenav"><span><i class="fa fa-home"></i> Zobacz </span></button>

    </div>
    <div class="container">

        @RenderBody()

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CloudAAdmin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
